<div class="container">
    <div class="columns">
        <div class="column">
            <div class="box">
                <img src="">
                <h2>Plumber</h2>
            </div>
        </div>



        <div class="column">
            <div class="box">

            </div>
        </div>
        <div class="column">
            <div class="box">

            </div>
        </div>
    </div>
</div>